<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd"
>
    <context:annotation-config/>
    <context:property-placeholder location="classpath:application.properties"/>

    <bean class="com.koona.invoise.service.InvoicePrefixService">
<!--        <property name="invoiceRepository" ref="invoiceDatabase"/>-->
<!--        <property name="lastNumber" value="112"/>
        <property name="prefix" value="IMV_"/>-->
    </bean>
    <bean class="com.koona.invoise.controller.InvoiceWebController">
        <!--<property name="invoiceService" ref="invoiceService"/>-->
    </bean>
    <bean class="com.koona.invoise.repository.InvoiceDatabaseRepository"/>

</beans>