<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="invoiceService" class="com.koona.invoise.service.InvoicePrefixService">
        <property name="invoiceRepository" ref="invoiceDatabase"/>
<!--        <property name="lastNumber"/>-->
    </bean>
    <bean class="com.koona.invoise.controller.InvoiceWebController">
        <property name="invoiceService" ref="invoiceService"/>
    </bean>
    <bean id="invoiceDatabase" class="com.koona.invoise.repository.InvoiceDatabaseRepository"/>

</beans>